
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>My todo tasks</title>

<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "fonts" %>
<%= stylesheet_link_tag "table_format" %>

</head>

<body>
<div id="content">
 <h1>Welcome my website </h1><%= link_to 'Click here to create a new task', new_task_path %>
</div>
</body>
</html>
